.helpContainer {
    text-align: center;
}

.helpContainer h2 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 4rem;
}

.helpContainer p {
    font-family: Arial, Helvetica, sans-serif;
}

.helpContainer a {
    color: #006aa7;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-weight: 600;
}
